* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: linear-gradient(0deg, rgb(127, 91, 210), rgb(75, 45, 185));
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;


}

header {
    margin: auto;
    text-align: center;
    padding: 2rem;

}

main {
    padding: 2rem;
    min-height: 50vh;
    width: 60vw;
    margin: auto;
    border: 1px dotted blue;
    background-color: white;
}

h1 {
    border: solid 1px blue;
    height: 6rem;
    line-height: 6rem;
    background-color: white;
}

h2,
h3 {
    color: darkblue;
}

#item {
    border: solid 2px darkblue;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.5rem;
}

ul {
    padding-top: 2rem;
}

li {
    padding: 0;
}



.checkbox {
    display: inline;
    margin-left: 1rem;
}

.checkbox.strike-through {
    color: gray;
    text-decoration: line-through;
}

footer>div {
    width: 60vw;
}